         * {
             margin: 0;
             padding: 0;
             box-sizing: border-box;
             font-family: Poppins, sans-serif;
         }
         
         .container-top {
             background-image: url(images/bg-intro-desktop.png);
             background-color: hsl(0, 100%, 74%);
             display: flex;
             width: 70%;
             margin: 100px auto;
             padding: 50px;
         }
         
         .container1 {
             width: 50%;
             align-items: middle;
             /* padding-top: 150px;*/
             justify-content: middle;
             padding: 150px 0 50px 80px;
         }
         
         h2 {
             font-size: 35px;
             color: #ffffff;
             font-weight: 700;
             margin-bottom: 20px;
         }
         
         p {
             color: #ffffff;
             font-size: 12px;
             padding: 30px auto;
             font-weight: 400;
             line-height: 20px;
         }
         
         .container2 {
             align-items: center;
             justify-content: center;
         }
         
         .form {
             background-color: white;
             padding: 30px;
             width: 80%;
             margin: 20px auto;
             border-radius: 20px;
         }
         
         input {
             display: block;
             width: 100%;
             padding: 10px 20px;
             margin: 15px 0;
             border: thin solid transparent;
             outline: none;
         }
         
         input:focus {
             border: thin solid rgb(107, 94, 94);
         }
         
         .span1 {
             background-color: hsl(248, 32%, 49%);
             width: 70%;
             padding: 15px 30px;
             border: thin solid gray;
             color: #ffffff;
             font-size: 15px;
             margin: 50px 0 0 70px;
             border-radius: 7px;
             text-align: center;
         }
         
         .input2 {
             width: 100%;
             padding: 10px 15px;
             background-color: hsl(154, 59%, 51%);
             color: #ffffff;
             font-size: 12px;
             font-weight: 500;
             border: 0;
             border-radius: 5px;
         }
         
         .form span {
             font-size: 10px;
             color: gray;
             padding: 50px 20px;
             margin-bottom: 50px;
         }
         
         span a {
             text-decoration: none;
             color: rgb(212, 25, 25);
         }
         
         @media screen and (max-width: 375px) {
             .container-top {
                 background-image: url(images/bg-intro-mobile.png);
                 background-color: hsl(0, 100%, 74%);
                 flex-direction: column;
             }
             .container1 {
                 width: 100%;
             }
             h2 {
                 font-size: 15px;
                 color: #ffffff;
                 font-weight: 700;
                 margin-bottom: 20px;
             }
             p {
                 color: #ffffff;
                 font-size: 12px;
                 padding: 30px auto;
                 font-weight: 400;
                 line-height: 20px;
             }
             .container2 {
                 align-items: center;
                 justify-content: center;
             }
             .form {
                 background-color: white;
                 padding: 30px;
                 width: 80%;
                 margin: 20px auto;
                 border-radius: 20px;
             }
             input {
                 display: block;
                 width: 100%;
                 padding: 10px 20px;
                 margin: 15px 0;
                 border: thin solid transparent;
                 outline: none;
             }
             input:focus {
                 border: thin solid rgb(107, 94, 94);
             }
             .span1 {
                 background-color: hsl(248, 32%, 49%);
                 width: 70%;
                 padding: 15px 30px;
                 border: thin solid gray;
                 color: #ffffff;
                 font-size: 15px;
                 margin: 50px 0 0 70px;
                 border-radius: 7px;
                 text-align: center;
             }
             .input2 {
                 width: 100%;
                 padding: 10px 15px;
                 background-color: hsl(154, 59%, 51%);
                 color: #ffffff;
                 font-size: 12px;
                 font-weight: 500;
                 border: 0;
                 border-radius: 5px;
             }
             .form span {
                 font-size: 10px;
                 color: gray;
                 padding: 50px 20px;
                 margin-bottom: 50px;
             }
             span a {
                 text-decoration: none;
                 color: rgb(212, 25, 25);
             }
         }